<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login</title>
</head>
<body>
  <h1 class="text-4xl text-yellow-500 font-bold m-6 text-center pt-7">Chat Application</h1>
  <div class="grid grid-cols-2 grid-rows-2 ">
    <div class="h-auto">
      <h3 class=" m-4 text-center h-auto">Login Here</h3>
    </div>
    <div class=" h-auto">
      <h3 class=" m-4 text-center h-auto">Register Here</h3>
    </div>
    <div class="flex justify-center">
      <form action="/login" method="POST">
        <div class="flex flex-col m-4">
          <label class="mb-2" for="username">Email</label>
          <input type="text" name="username" id="username" class="border-2 border-gray-500 rounded-md p-2">
        </div>
        <div class="flex flex-col m-4">
          <label class="mb-2" for="password">Password</label>
          <input type="password" name="password" id="password" class="border-2 border-gray-500 rounded-md p-2">
        </div>
        <div class="flex flex-col p-4">
          <button type="submit" class="bg-blue-500 text-white rounded-md p-2">Login</button>
        </div>
      </form>
    </div>
    <div class="flex justify-center">
      <form action="/register" method="POST">
        <div class="flex flex-col m-4">
          <label class="mb-2" for="username">Email</label>
          <input type="text" name="username" id="username" class="border-2 border-gray-500 rounded-md p-2">
        </div>
        <div class="flex flex-col m-4">
          <label class="mb-2" for="password">Password</label>
          <input type="password" name="password" id="password" class="border-2 border-gray-500 rounded-md p-2">
        </div>
        <div class="flex flex-col p-4">
          <button type="submit" class="bg-blue-500 text-white rounded-md p-2 ">Register</button>
        </div>
      </form>
    <div>
  </div>
</body>
</html>